---
	import Default from "../layouts/Default.astro";
	import Fx from '../components/fx/Fx.astro'
	import Stars from "../components/effects/stars.astro";
	import X from "../components/x.astro";
  	import { Icon } from 'astro-icon';
	import { Code } from 'astro/components';
---
<Default title="welcome to proxima" description="build magic components in no time">
	<div class="h-96 centered">
		<Stars amount="21" />
	</div>
	<div class="block pt-20 text-center font-bold">
		<Icon class="mx-auto text-9xl transform rotate-45" name="rocket" />
		<X
			type="h1"
			class="uppercase"
			iterations="0"
			duration="8000"
			fullNode="false"
			animations="color: [#cfb41a, #d86c14, #d81414] | transform: [scale(3) scale(0.3)]"
		>
			proxima
		</X>
	</div>
	<X 
		type="div"
		class="opacity-0 text-3xl bg-centauri lg:container lg:mx-auto"
		iterations="1"
		duration="3000"
		animations="opacity: [1] | background: [#cfb41a, #d86c14, #4C1D95, #312E81, #4C1D95]"
	>
		<p class="p-6 px-9 mt-12 lg:p-9 lg:px-20">
			<X
				type="span"
				class="uppercase text-3xl text-white"
				iterations="1"
				duration="1000"
				delay="2000"
				fullNode="false"
				retain="color, transform"
				animations="color: [#fff, #cfb41a, #d86c14, #d81414] | transform: [translateY(-9px) scale(2)]"
			>W</X>
			elcome to proxima! Proxima is an animation library built with a minimal set of js on top
			of 
			<X 
				type="span"
				duration="3000" 
				iterations="0"
				fullNode="false"
				animations="transform: [scale(1.25)] | color: [#cfb41a, #d86c14, #d81414]"
			>
			<a href="https://github.com/aFuzzyBear/astro-ui/tree/main/components/XElement" title="visit XElement github page" target="_blank">XElement</a>.
			</X>
		</p>
		<p class="p-6 px-9 pt-0 lg:p-9 lg:px-20">
			<X
				type="span"
				class="uppercase text-3xl text-white"
				iterations="1"
				duration="1000"
				delay="4000"
				fullNode="false"
				retain="color, transform"
				animations="color: [#fff, #d81414, #d86c14, #cfb41a] | transform: [translateY(-9px) scale(2)]"
			>A</X>nimations 
			in web have their limitations or require huge libraries with thousands of js code lines. With a very few lines proxima is different, while not a suite
			for every need, it will cover most of cases to create nicely animated sites.
		</p>
	</X>
	<X
		type="div"
		class="opacity-0 p-6"
		iterations="1"
		duration="3000"
		trigger="visible"
		retain="opacity"
		animations="transform: [translateX(0%)] | opacity: [1]"
	>
		<X
			type="h2"
			iterations="1"
			duration="600"
			delay="300"
			trigger="visible"
			fullNode="true"
			animations="transform: [translateY(-5px)] | color: [#d81414, #d86c14, #cfb41a, #d86c14] | borderWidth: [0px, 4px, 10px, 9px] | borderColor: [#d81414, #d86c14, #cfb41a, #d86c14] | textTransform: [uppercase] | fontWeight: [bold] | paddingBottom: [10px] | paddingTop: [10px] | paddingLeft: [1px]"
		>Example</X>
		<Code code={`const foo = 'bar';`} lang="js" theme="dark-plus" />
	</X>
	<X
		type="div"
		iterations="1"
		duration="600"
		delay="300"
		trigger="visible"
		fullNode="true"
		animations="transform: [translateY(-5px)] | color: [#d81414, #d86c14, #cfb41a, #d86c14] | borderWidth: [0px, 4px, 10px, 9px] | borderColor: [#d81414, #d86c14, #cfb41a, #d86c14] | textTransform: [uppercase] | fontWeight: [bold] | paddingBottom: [10px] | paddingTop: [10px] | paddingLeft: [1px]"
	>
		TEST
	</X>
</Default>

<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
  <linearGradient id="logoGradient" x2="1" y2="1">
    <stop offset="0%" stop-color="#cfb41a" />
    <stop offset="50%" stop-color="#d86c14" />
    <stop offset="100%" stop-color="#d81414" />
  </linearGradient>
</svg>