---
	import Headline from "../components/headline/headline.astro";
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Proxima</title>
</head>
<body>
	<div style="width: 100%;">
		<Headline 
			class="red"
			iterations="3"
			duration="300"
			delay="0"
			fullNode="false"
			retain="color"
			easing="cubic-bezier(0.390, 0.575, 0.565, 1.000)"
			animations="color: [#000014, randomColor, randomColor, randomColor, randomColor, randomColor, randomColor] | transform: [translateX(10%), translateY(20%), rotate(360deg), scale(0.75), rotate(45deg)] | opacity: [0.3, 0.5, 0.1, 0.8, 0, 1, 0.21]"
		>
				Headline h1
		</Headline>
	</div>
</body>

</html>

<style>
	h1 {
		font-size: 4rem;
	}
</style>