---
	import Shell from "./Shell.astro";
  import { Icon } from 'astro-icon';
  import Fx from '$components/fx/Fx.astro'
  // load default components
	import Mainmenu from "../components/navigation/mainmenu.svelte";
  const titlePrefix = 'Centauri';
  const titleSeparator = ' | ';
  const defaultMenuItems = [
    {
      label: 'home',
      slug: ''
    },
    {
      label: 'use it',
      slug: 'useit',
      authenticated: true
    },
    {
      label: 'docs',
      slug: 'docs',
      authenticated: false
    }
  ];
  const year = new Date().getFullYear();
  const {
    title, 
    description, 
    bodyClasses, 
    theme, 
    menuItems = [],
  } = Astro.props;
---
<Shell 
  title={titlePrefix + titleSeparator + title}
  description={description} 
  bodyClasses={bodyClasses} 
  theme={theme} 
>
  <slot name="htmlhead"></slot>
  <slot name="headerwrapper">
    <header class="fixed w-full z-50">
      <slot name="contentheader">
        <div class="min-h-16 h-16 bg-astro opacity-80">
          <Mainmenu menuItems={menuItems && menuItems.length && menuItems.length > 0 ? menuItems : defaultMenuItems} client:load></Mainmenu>
        </div>
      </slot>
      <Fx/>
    </header>
  </slot>
  <slot name="mainwrapper">
    <main>
      <slot></slot>
    </main>
  </slot>
  <slot name="footerwrapper">
    <footer class="lg:container lg:mx-auto">
      <slot name="contentfooter">
        <div class="flex p-3">
          <div class="flex-grow text-left">
            <a href="https://github.com/p13rnd/proxima/blob/master/LICENSE.md" target="_blank" title="show license">MIT</a>
          </div>
          <div class="flex-grow text-center">
            <a href="https://github.com/p13rnd/proxima" target="_blank" title="view on github">
              <Icon class="mx-auto text-6xl" name="github" />
            </a>
          </div>
          <div class="flex-grow text-right">
            &commat;{year}
          </div>
        </div>
      </slot>
    </footer>
  </slot>
</Shell>